<!-- {% extends "personal/header.html" %}

{% block content %}
<p>
	<h3>Hello everyone, and welcome to Antikz!</h3>
	<br></br>

 	<h5>A new platform created for the purpose of selling any items that have monetary or sentimental value.
 	</h5>

 	<br></br>
 	 We do not discriminate against the age of the item that a seller is trying to sell but rather appreciate the antiquity of the item. Although just because the item may be considered as an antique to the seller, it surely might not be to others, but we will review the item and consult with the seller to come to a reasonable price. This way nobody will get ripped off. All you have to do is post about the item and the price that you are willing to sell for. After coming to an agreement, the buyer then transfers the money to Antikz while the seller delivers the item, and once that has been done, Antikz will transfer the money to the seller. </p>

 	 <br></br>


{% include "personal/includes/htmlsnippet.html" %}
{% endblock %} -->