<!-- {% extends "personal/header.html" %}



{% block content %}
	
	<form action="/login" method="post">
		{% csrf_token %}
		Username: <input type="text" name="username"><br><br>
		Password: <input type="password" name="password"><br><br>
		<button type="submit" value="ok">Submit</button>
	</form>
	<br>
	<div class="alert alert-danger" role="alert">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error:</span>
  		Invalid Username/Password
	</div>

{% endblock %} -->